<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.personal.kode_websocket">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 解锁屏幕需要的权限 -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <!-- 申请电源锁需要的权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- android 9.0之后使用前台服务，需要添加权限 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        tools:ignore="GoogleAppIndexingWarning">
        <service
            android:name=".push.JWebSocketClientService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".push.JWebSocketClientService$GrayInnerService"
            android:enabled="true"
            android:exported="false"
            android:process=":gray" />
    </application>
</manifest>